<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782362279118-ru0ulmr0tk60iri31tlm2l05lhdof1aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782362279118-ru0ulmr0tk60iri31tlm2l05lhdof1aa</string>
	<key>API_KEY</key>
	<string>AIzaSyAKDPhNAfZwy1G6qGeEyi6kTzXCbeDiqPg</string>
	<key>GCM_SENDER_ID</key>
	<string>782362279118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bettyfung.Beacon</string>
	<key>PROJECT_ID</key>
	<string>beacon-c1b85</string>
	<key>STORAGE_BUCKET</key>
	<string>beacon-c1b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:782362279118:ios:1811df6d6d6ac335</string>
	<key>DATABASE_URL</key>
	<string>https://beacon-c1b85.firebaseio.com</string>
</dict>
</plist>